<h1>Login</h1>
<form [formGroup]="signinForm" (ngSubmit)="signin()">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input
      id="email"
      class="form-control form-control-rounded"
      formControlName="email"
      type="email"
      autocomplete="email"
    />
    <div
      *ngIf="
        signinForm?.get('email')?.touched && signinForm?.get('email')?.invalid
      "
    >
      <div *ngIf="signinForm?.get('email')?.errors?.['required']">
        Campo obrigatório.
      </div>
      <div
        class="text-danger"
        *ngIf="signinForm?.get('email')?.errors?.['email']"
      >
        E-mail inválido.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input
      id="password"
      class="form-control form-control-rounded"
      formControlName="password"
      type="password"
      autocomplete="new-password"
    />
    <div
      *ngIf="
        signinForm?.get('password')?.touched &&
        signinForm?.get('password')?.invalid
      "
    >
      <div *ngIf="signinForm?.get('password')?.errors?.['required']">
        Campo obrigatório.
      </div>
      <div *ngIf="signinForm?.get('password')?.errors?.['minlength']">
        Senha menor que 4 caracteres.
      </div>
    </div>
  </div>
  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
  <button [disabled]="signinForm.invalid">Entrar</button>
</form>
